.btn {
  user-select: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: $color-primary;
  color: $white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;

  &[disabled] {
    cursor: default;
  }
}

.btn--secondary {
  color: $white;
  background-color: $color-secondary;
}

.btn--link {
  background-color: transparent;
  border: 0;
  margin: 0;
  color: $black;
  text-align: left;

  .icon {
    vertical-align: middle;
  }
}
