form {
  margin: 0;
}

label {
  display: block;
  margin-bottom: spacing();
  font-size: $font-size-base;

  [type="radio"] + &,
  [type="checkbox"] + & {
    display: inline-block;
    margin-bottom: 0;
  }
}

input {
  // prevent rounded corners on mobile devices
  &[type="search"],
  &[type="number"],
  &[type="email"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

input,
select,
textarea {
  padding: $input-padding-top-bottom $input-padding-left-right;
}

textarea {
  min-height: rem(100px);
}

/*================ Vertical forms ================*/
.form-vertical {
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    margin: 0 0 spacing(3);
  }

  [type="radio"],
  [type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: spacing();
  }

  [type="submit"],
  .btn {
    display: inline-block;
    width: auto;
  }

  .btn {
    margin-bottom: spacing(3);
  }
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz);
  background: {
    repeat: no-repeat;
    position: right rem(10px) center;
    color: transparent;
    image: $svg-icon-select;
  }
  padding-right: rem(30px);
  text-indent: rem(0.01px);
  text-overflow: ellipsis;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

/*================ Form feedback messages ================*/
input,
select,
textarea {
  &.input-error {
    box-shadow: 0 0 rem(1px) rem(1px) $color-error-bg;
    color: $color-body;
  }
}

/*================ Form feedback messages ================*/
.form-message,
.note {
  padding: $input-padding-top-bottom $input-padding-left-right;
  margin: 0 0 spacing(3);
}

.note {
  border: 1px solid $color-border;
}

.form-message--success {
  border: 1px solid $color-success;
  color: $color-success;
}

.form-message--error {
  border: 1px solid $color-error;
  color: $color-error;

  // Shopify generates ul element
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  a {
    text-decoration: underline;
  }
}
