{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Blog posts" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the blog posts section
  - Blog (which blog category to show in your store)

  Theme Store optional settings
  - Number of posts to show
  - Show author
  - Show date
{%- endcomment -%}

{% case section.settings.grid %}
  {% when 2 %}
    {%- assign column_width = 'col--md-up-1-2' -%}
  {% when 3 %}
    {%- assign column_width = 'col--md-up-1-3' -%}
  {% when 4 %}
    {%- assign column_width = 'col--md-up-1-4' -%}
{% endcase %}

<section class="container">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}

  {%- comment -%}
    Due to accessibility requirements, the Blog entries list functions
    as a list of content items. Non-visual users will expect lists of content
    to appear in a list structure, allowing for easier understanding and navigation of list items.
  {%- endcomment -%}
  <ul class="row">
    {% for article in blog.articles limit: section.settings.post_limit %}
      <li class="col {{ column_width }}">
        {%- include 'article-card' -%}
      </li>
    {% else %}
      {% for i in (1..3) %}
        <li class="col {{ column_width }}">
          {%- include 'placeholder-article-item' -%}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</section>

{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Articles per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
